.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ccc; 
  }
  
  
  .logo {
    width: 150px;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .footer {
    background: #e5d6f2ec;
    justify-content: center;
    align-items: center;
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }

  .user {
    font-size: 1.5em;
    color: #e5d6f2;
    cursor: pointer;
  }

  a{
    cursor: pointer;
  }

  /*links header*/
  .link-decoration-none {
    text-decoration: none !important; 
  }
  .link-hover-color:hover {
    color: #C7E6FC;
  }
  .link-hover-underline:hover {
    position: relative; 
  }
  
  .link-hover-underline::before, .link-hover-underline::after {
    content: ''; 
    position: absolute; 
    left: 0;
    right: 0;
    height: 1px; 
    background: #C7E6FC; 
  }
  
  .link-hover-underline::before {
    top: -2px;
  }
  
  .link-hover-underline::after {
    bottom: -2px; 
  }

  /* RedditSearchHistory.css */

.history-container {
    margin: 20px;
  }
  
  .search-box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-info {
    flex: 1;
  }
  
  .date-info {
    margin-left: 20px;
  }
  
  .search-text {
    font-weight: bold;
  }
  
  .category-text {
    color: #555;
  }
  
  .date-text {
    color: #888;
  }
  
  /*reddit*/
  .color-liteblue{
    color: #B0E3F6;
    font-size: 1.2em;
  }