.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ccc; 
  }
  
  /* .logo-container {
    margin-left: 10px;
  } */
  
  .logo {
    width: 150px;
  }
/* 
  .footer {
    align-self: flex-end;
  } */

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .footer {
    background-color: #f5b3d72c;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding-bottom: 12px;
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }

  .user {
    font-size: 1.5em;
    cursor: pointer;
  }

  /*links header*/
  .link-decoration-none {
    text-decoration: none !important; 
  }
  .link-hover-color:hover {
    color: #C7E6FC;
  }
  .link-hover-underline:hover {
    position: relative; 
  }
  
  .link-hover-underline::before, .link-hover-underline::after {
    content: ''; 
    position: absolute; 
    left: 0;
    right: 0;
    height: 1px; 
    background: #C7E6FC; 
  }
  
  .link-hover-underline::before {
    top: -2px;
  }
  
  .link-hover-underline::after {
    bottom: -2px; 
  }